<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/../../static/css/estilo.css">
    <title>SMARTminIA</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="/../../static/img/LOGO-HORIZONTAL-ORIGINAL-TAG-LINE.png" class="logo" alt="Main Logo">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">PROPÓSITO</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="iniciosesion">INICIAR SESIÓN</a></li>
                <li><a href="#">REGISTRARSE</a></li>
            </ul>
        </div>

        <h1 class="alineacion">SMARTminIA®</h1>
    </div>

</body>

</html>